  <form
    action="<%= book.id ? "/books/#{book.id}".html_safe : "/books".html_safe %>"
    method="<%= book.id ? "PATCH" : "POST" %>"
  >
    <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
    <% if book.error.present? %>
      <div style="color: red">
        <h2>Errors prohibited this book from being saved:</h2>

        <ul>
          <li><%= book.error.full_message %></li>
        </ul>
      </div>
    <% end %>

    <div>
      <%= label_tag "books[title]", "Title" %>
      <%= text_field_tag "books[title]", book.title %>
    </div>

    <div>
      <%= label_tag "books[summary]", "Summary" %>
      <%= text_field_tag "books[summary]", book.summary %>
    </div>

    <div>
      <%= submit_tag %>
    </div>
</form>
